/* Banner */

.banner_wrapper {
	background-color: #666;
	border-bottom: 1vmax solid #999;
	clear: both;
	height: 329px;
	margin: 0px auto 0.5% auto;
	width: 100%;
}

.banner_image {
	background: url('/assets/Fotor060791247.png') #333 no-repeat scroll bottom;
	height: 100%;
	margin: 0px auto;
	padding: 0px 10%;
	width: 100%;
}
