<p>Здравейте, <%= @resource.email %>!</p>

<p>Някой е поискал линк за да смени паролата ви. Можете да го направите чрез линка по-долу.</p>

<p><%= link_to 'Смяна на паролата', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ако не сте поискали това, моля игнорирайте това съобщение.</p>
<p>Вашата парола няма да се промени, докато не посетите линка по-горе и създадете нова.</p>
