<p>Здравейте, <%= @resource.email %>!</p>

<p>Профилът ви е заключена поради прекалено голям брой неуспешни опитите за влизане в него.</p>

<p>Кликнете върху линка по-долу, за да отключите своя профил:</p>

<p><%= link_to 'Отключване на профила', unlock_url(@resource, unlock_token: @token) %></p>
