<% @problems.each do |problem| %>
	<div class="col-lg-3 col-md-6" style="width:100%;">
	  <div class="panel panel-red">
	    <div class="panel-heading">
	      <div class="row">
	        <div class="col-xs-9 text-left">
	          <div><%= problem.id %></div>
	        </div>
	      </div>
	    </div>
	    <div class="panel-footer" style="color: black;">
	      <span class="pull-left"><%= problem.description %></span>
	      <span class="pull-right"><%= button_to 'Read More', problem_path(problem.id), method: :get, class: "btn btn-primary btn-lg round", type: "button"%></span>	
	      <div class="clearfix"></div>
	    </div>
	  </div>
	</div>
<% end %>
